* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: none;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
}

:root {
  font-size: 1.4vh;

  /*GENERAL COLORS*/
  --white: #fff;
  --black: #000;
  --dark-blue: #1947e5;
  --pale-blue: #e9e7fc;
  --white-blue: #f4f5f7;
  --grey-blue: #474a57;

  /*OTHER*/
  --header-height: 11vh;
}

h1 {
  font-size: 3rem;
  font-weight: bolder;
  color: var(--white);
}

a,
p {
  color: var(--black);
}

ul {
  list-style: none;
}

img {
  height: 2.9vh;
}

.content {
  margin-top: var(--header-height);
}
