/*=====-----HOME SECTION-----=====*/
.home {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: calc(100vh - var(--header-height));
}

/*----------HERO----------*/
.hero {
  align-items: center;
  background-image: url("../images/background.jpg");
  background-position: center;
  background-size: cover;
  display: flex;
  height: 40%;
  justify-content: center;
}

.hero .me {
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  border: 0.2rem solid black;
}

/*----------PRESENTATION----------*/
.personal-presentation {
  background: var(--white);
  height: 50%;
  padding: 2rem 3rem;
}

.personal-presentation h2 {
  font-size: 4.2rem;
}

.personal-presentation p {
  margin-top: 1rem;
  font-size: 2rem;
  color: var(--grey-blue);
  line-height: 3rem;
}

/*----------SCROLL BUTTON----------*/
.scroll-button {
  display: block;
  position: absolute;
  width: 4rem;
  height: 4rem;
  bottom: 1rem;
  left: 50%;
  transform: translate(-50%);
  cursor: pointer;
  background-color: transparent;
}

/*=====-----SKILLS SECTION-----=====*/
.skills,
.projects,
.contact-container {
  padding: var(--header-height) 2rem 1rem 2rem;
}

.skills {
  background-color: blueviolet;
  min-height: 100vh;
  padding: calc(2rem + var(--header-height)) 2rem 2rem 2rem;
}

.card-skill {
  align-items: center;
  background-color: #ffbd12;
  border-radius: 1.6rem;
  border: 0.2rem solid black;
  color: white;
  display: flex;
  font-size: 1.3rem;
  justify-content: center;
  justify-self: center;
  min-height: 30vh;
  min-width: 100%;
  margin-bottom: 3vh;
  overflow: hidden;
  position: relative;
}

.skill-info {
  align-items: center;
  background-color: #000000ab;
  border-radius: 0 0 1.5rem 1.5rem;
  color: var(--white);
  display: flex;
  font-size: 2rem;
  font-weight: bolder;
  height: 101%;
  justify-content: center;
  overflow: hidden;
  padding: 5%;
  position: absolute;
  text-align: center;
  transform: translateY(-100%);
  transition: 300ms ease-in;
  width: 101%;
  word-break: break-all;
}

.card-skill:hover > .skill-info {
  transform: translateY(0%);
}

/*=====-----PROJECTS SECTION-----=====*/
.projects {
  padding-bottom: 2rem;
}

.card-project {
  background: #babaca;
  border-radius: 2rem;
  border: 0.3rem black solid;
  box-shadow: 0rem 0.35rem black;
  margin: 2rem 0;
  min-height: 32rem;
  overflow: hidden;
  width: 100%;
}

.card-project .img {
  background: #000;
  height: 21rem;
  overflow: hidden;
  width: 100%;
}

.card-project .img img {
  height: auto;
  width: 110%;
}

.project-container {
  background: var(--white);
  display: flex;
  justify-content: space-around;
  min-height: 11rem;
  padding: 1rem 1.4rem 1.4rem 1.4rem;
  width: 100%;
}

.project-information {
  width: 100%;
}

.project-information .title {
  font-size: 2.5rem;
}

.project-information .description {
  font-size: 1.2rem;
  margin-top: 0.2rem;
}

.project-information a {
  font-size: 1.2rem;
}

.project-information a i {
  height: 2rem;
  margin-right: 0.4rem;
  text-align: center;
  width: 1rem;
}

.project-information .code {
  display: block;
  margin-top: 1rem;
}

.show-more-container {
  align-items: center;
  display: flex;
  justify-content: center;
}

.show-more,
.contact-container .social-medias .social {
  border-radius: 50%;
  border: 0.3rem black solid;
  box-shadow: 0rem 0.3rem black;
  display: flex;
  justify-content: center;
}

.show-more {
  height: 6rem;
  width: 6rem;
  font-size: 3rem;
}

/*=====-----CONTACT SECTION-----=====*/
.contact {
  height: 100vh;
  background-color: blueviolet;
}

.contact-container h2 {
  font-size: 3vh;
  margin: 2rem 0;
  width: 100%;
  text-align: center;
  color: var(--white);
}

.contact-container form label {
  border-width: 0;
  clip-path: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.contact-container form .input,
.contact-container form .input i {
  align-items: center;
  display: flex;
  justify-content: center;
}

.contact-container form .input {
  background: var(--white);
  border-radius: 1rem;
  border: solid 0.18rem #000;
  margin-top: 2rem;
  min-height: 5rem;
}

.contact-container form .input i {
  font-size: 2vh;
  height: 5vh;
  margin-right: 0.8rem;
  width: 5vh;
}

.contact-container form .input input,
.contact-container form .input textarea {
  background: none;
  height: 4rem;
  outline: none;
  width: 100%;
}

.contact-container form .input textarea {
  height: 25vh;
  padding: 2rem 1rem;
  resize: none;
}

.contact-container form .input textarea::-webkit-scrollbar {
  background-color: var(--white);
  border-radius: 2rem;
  width: 1.5rem;
}

.contact-container form .input textarea::-webkit-scrollbar-thumb {
  background-color: var(--dark-grey);
  border-radius: 2rem;
}

.contact-container form .send-mail-container {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  width: 100%;
}

.contact-container form .send-mail-container .line {
  background-color: var(--dark-grey);
  height: 0.2rem;
  position: absolute;
  width: 97.3%;
}

.contact-container form .send-mail {
  background-color: var(--dark-grey);
  border-radius: 1rem;
  color: var(--white);
  font-size: 2rem;
  font-weight: bolder;
  padding: 1.5rem;
  z-index: 1;
}

.contact-container .social-medias {
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  margin-top: 2rem;
}

.contact-container .social-medias .social {
  align-items: center;
  background: var(--white);
  font-size: 2rem;
  height: 4rem;
  width: 4rem;
}

.contact-img {
  display: none;
  z-index: 1;
}

/*>>>>>>>>>>>>>>>>>>>>DESKTOP<<<<<<<<<<<<<<<<<<<<*/
@media (min-width: 58rem) {
  /*=====-----HOME SECTION-----=====*/
  .home {
    flex-direction: row;
  }

  .hero,
  .personal-presentation {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .hero .me {
    left: initial;
    top: initial;
    transform: none;
    width: 13rem;
    height: 13rem;
    position: relative;
  }

  .personal-presentation {
    flex-direction: column;
  }

  .personal-presentation h2 {
    font-size: 8rem;
    width: 100%;
  }

  .personal-presentation p {
    margin-top: 1rem;
    font-size: 3.8rem;
    color: var(--grey-blue);
    line-height: 5rem;
  }

  .scroll-button {
    background-color: var(--white);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 3rem;
    border: solid 2px black;
    box-shadow: 0px 0.2rem black;
  }

  .home .scroll-button img {
    height: 1.5vh;
  }

  /*=====-----SKILLS SECTION-----=====*/
  .skills,
  .projects {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    display: grid;
    gap: 2rem;
    height: 100vh;
    padding: calc(2rem + var(--header-height)) 2rem 2rem 2rem;
  }

  .card-skill {
    margin-bottom: 0;
  }

  /*=====-----PROJECTS SECTION-----=====*/
  .card-project {
    margin: 0rem 0;
    min-height: 100%;
  }

  .card-project .img {
    height: 60%;
    width: 100%;
  }

  .project-container {
    height: 40%;
    width: 100%;
  }

  /*=====-----CONTACT SECTION-----=====*/
  .contact {
    display: flex;
    width: 100vw;
  }

  .contact-container {
    width: 100%;
  }

  .contact-container h2 {
    font-size: 5vh;
    margin-bottom: 3vh;
  }

  .contact-img {
    display: block;
    width: 100%;
    height: 100vh;
    background-image: url("../images/background.jpg");
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
  }
}
