/*=====-----HOME SECTION-----=====*/
.home {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: calc(100vh - var(--header-height));
}

/*----------HERO----------*/
.hero,
.personal-presentation {
  height: 50%;
}

.hero {
  background-image: url("../images/background.jpg");
  background-position: center;
  background-size: cover;
}

.hero .me {
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  border: 0.2rem solid black;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%);
}

/*----------PRESENTATION----------*/
.personal-presentation {
  background: var(--white);
  padding: 6rem 3rem;
}

.personal-presentation h2 {
  font-size: 4.2rem;
}

.personal-presentation p {
  margin-top: 1rem;
  font-size: 2rem;
  color: var(--grey-blue);
  line-height: 3rem;
}

/*----------SCROLL BUTTON----------*/
.scroll-button {
  display: block;
  position: absolute;
  width: 4rem;
  height: 4rem;
  bottom: 1rem;
  left: 50%;
  transform: translate(-50%);
  cursor: pointer;
  background-color: transparent;
}

/*=====-----SKILLS SECTION-----=====*/
.skills {
  background-color: blueviolet;
  display: grid;
  gap: 1vw;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  min-height: 100vh;
  padding: var(--header-height) 0.5% 0 0.5%;
}

.card-skill {
  align-items: center;
  align-self: center;
  background-color: #ffbd12;
  border-radius: 1.6rem;
  border: 0.2rem solid black;
  color: white;
  display: flex;
  font-size: 1.3rem;
  justify-content: center;
  justify-self: center;
  min-height: 85%;
  min-width: 80%;
  overflow: hidden;
  position: relative;
}

.skill-info {
  align-items: center;
  background-color: #000000ab;
  border-radius: 0 0 1.5rem 1.5rem;
  color: var(--white);
  display: flex;
  font-size: 2rem;
  font-weight: bolder;
  height: 101%;
  justify-content: center;
  overflow: hidden;
  padding: 5%;
  position: absolute;
  text-align: center;
  transform: translateY(-100%);
  transition: 300ms ease-in;
  width: 101%;
  word-break: break-all;
}

.card-skill:hover > .skill-info {
  transform: translateY(0%);
}

/*=====-----PROJECTS SECTION-----=====*/
.projects {
  padding: calc(1rem + var(--header-height)) 2rem 2rem 2rem;
}

.card-project {
  background: #babaca;
  border-radius: 2rem;
  border: 0.3rem black solid;
  box-shadow: 0rem 0.35rem black;
  margin: 2rem 0;
  min-height: 32rem;
  overflow: hidden;
  width: 100%;
}

.card-project .img {
  background: #000;
  height: 21rem;
  overflow: hidden;
  width: 100%;
}

.card-project .img img {
  height: auto;
  width: 100%;
}

.project-container {
  background: var(--white);
  display: flex;
  justify-content: space-around;
  min-height: 11rem;
  padding: 1rem 1.4rem 1.4rem 1.4rem;
  width: 100%;
}

.project-information {
  width: 100%;
}

.project-information .title {
  font-size: 2.5rem;
}

.project-information .description {
  font-size: 1.2rem;
  margin-top: 0.2rem;
}

.project-information a {
  font-size: 1.2rem;
}

.project-information a i {
  height: 2rem;
  margin-right: 0.4rem;
  text-align: center;
  width: 1rem;
}

.project-information .code {
  display: block;
  margin-top: 1rem;
}

.show-more-container {
  align-items: center;
  display: flex;
  justify-content: center;
}

.show-more {
  border-radius: 50%;
  border: 0.3rem black solid;
  box-shadow: 0rem 0.3rem black;
  display: flex;
  font-size: 3rem;
  height: 6rem;
  justify-content: center;
  width: 6rem;
}

/*>>>>>>>>>>>>>>>>>>>>DESKTOP<<<<<<<<<<<<<<<<<<<<*/
@media (min-width: 58rem) {
  /*=====-----HOME SECTION-----=====*/
  .home {
    flex-direction: row;
  }

  .hero,
  .personal-presentation {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .hero .me {
    left: initial;
    top: initial;
    transform: none;
    width: 13rem;
    height: 13rem;
    position: relative;
  }

  .personal-presentation {
    flex-direction: column;
  }

  .personal-presentation h2 {
    font-size: 8rem;
    width: 100%;
  }

  .personal-presentation p {
    margin-top: 1rem;
    font-size: 3.8rem;
    color: var(--grey-blue);
    line-height: 5rem;
  }

  .scroll-button {
    background-color: var(--white);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 3rem;
    border: solid 2px black;
    box-shadow: 0px 0.2rem black;
  }

  .home .scroll-button img {
    height: 1.5vh;
  }

  /*=====-----SKILLS SECTION-----=====*/
  .skills {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

  /*=====-----PROJECTS SECTION-----=====*/
  .projects {
    display: grid;
    gap: 2rem;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    height: 100vh;
    padding: calc(2rem + var(--header-height)) 2rem 2rem 2rem;
  }

  .card-project {
    margin: 0rem 0;
    min-height: 100%;
  }

  .card-project .img {
    height: 60%;
    width: 100%;
  }

  .project-container {
    height: 40%;
    width: 100%;
  }
}
