/*Button mobile menu animation*/
.menu-btn-animate .bar:nth-child(1) {
  transform: rotate(-45deg) translate(-1rem, 1rem);
}

.menu-btn-animate .bar:nth-child(2) {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
}

.menu-btn-animate .bar:nth-child(3) {
  transform: rotate(45deg) translate(-1rem, -1rem);
}

@keyframes menu-goes-in {
  0% {
    top: -100vh;
  }
  100% {
    top: 0;
  }
}
